body {
    /* background-color: lightslategrey; */
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#contents {
    margin: 8px;
}

footer {
    font-size: small;
    margin: 10em 8px 8px 8px;
    text-align: right;
}

header {
    padding: 8px 0 8px 8px;
    min-height: 1.5em;
    border-bottom: 1px solid lightgray;

    display: flex;
}

#jump-to-person {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.flex1 {
    flex: 1;
}

#menu {
    position: relative;
    display: inline-block;
}

#menu-button {
    /* stretch to contain icon */
    height: 100%;
}

#menu-button:hover, #menu-button:focus{
    background-color: lightgrey;
}

/**
 * Create crazy hamburger menu icon with animation.
 */
#menu-icon {
    margin: 0 8px;

    position: relative;
    top: 16px;
    box-sizing: border-box;
}

#menu-icon, #menu-icon::before, #menu-icon::after {
    width: 16px;
    height: 2px;
    background-color: black;

    transition: top, transform;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#menu-icon::before {
    position: absolute;
    content: '';
    left: 0;
    top: -5px;
}

#menu-icon::after {
    position: absolute;
    content: '';
    left: 0;
    top: 5px;
}

/* Create "X" while menu is open. */
#menu-icon.is-selected {
    visibility: hidden;
}

#menu-icon.is-selected::before {
    top: 0;
    transform: rotate(45deg);
    visibility: visible;
}

#menu-icon.is-selected::after {
    top: 0;
    transform: rotate(-45deg);
    visibility: visible;
}

#menu-list {
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0; /* when menu on right of screen */
}

/* Links inside the dropdown */
#menu-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#menu-list li:hover {
    background-color: #ddd
}

table.relatives {
    /* border: 1px solid #ccc; */
    border-spacing: 0;
    /* border-collapse: collapse; */
    display: block;
    overflow-x: auto;
}

.loading {
    color: lightgray;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.relatives th {
    width: 8em;
    text-align: right;

    vertical-align: top;
    padding-top: calc(1em + 3px);
}

.relatives td {
    padding: 0;
    /* margin-right: 1.5em; */
    margin: 0;
    /* cursor: pointer; */
    vertical-align: top;
}

div .person {
    /* Needed for link-spanner */
    position: relative;

    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0.75em;
}

div .person:hover {
    background-color: lightgray;
}

.male {
    background-color: lightblue;
}

.female {
    background-color: lightpink;
}

/* See: https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.link-spanner {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


/**
 * CSS for trees.
 */

svg path {
	shape-rendering: crispedges;
}

.Treant a {
    text-decoration: none;
}

.tree-dark-box {
    padding: 2px;
    border-radius: 3px;
    background-color: #262626;
	border: 1px solid black;
    width: 200px;
	text-align: center;
    color: #ffffff;
}

.tree-dark-box:hover {
	background-color: lightgray;
}

.node-name {
    margin: 8px;
}

.tree-rel-link {
	background-color: #665B57;
	color: black;
	width: 5px;
	height: 5px;
	border: none;
}

.tree-rel-link .node-name {
	position: absolute;
	top: -35px; /* +5 */
	left: 4px;

	z-index: -1;

	width: 1px;
	height: 80px;

	padding: 0;
	margin: 0;

	background-color: black;
}

.tree-main-person {
	color: black;
	background-color: white;
	border-color: black;
}

.tree-male {
	color: black;
	background-color: lightblue;
	border-color: lightblue;
}

.tree-female {
	color: black;
	background-color: lightpink;
	border-color: lightpink;
}
